// colors

$white: #ffffff;
$black: #383736;
$red: #EB4B51;
$lightRed: #FAF0F0;
$blue: #2794DB;
$grey: #989691;
$green: #64B851;
$lightGreen: #F2FAF0;
$yellow: #FAC62D;

//fonts 

$arialFont: Arial, sans-serif;
$baseFont: 'Roboto', sans-serif;

// Widths

$mobileWidth: 520px;
$tabletWidth: 820px;
$desctopWidth: 960px;